body {
  font-family: $sans-serif;
  color: white;
}

h1 {
  color: $green;
  font-size: 48px;
  font-weight: 500;
  z-index: 1;
}

h3 {
  font-weight: 200;
  font-size: 20px;
}

.avatar {
  height: 30px;
  width: 30px;
}
  