.splash {
  background-image: url(https://open.scdn.co/static/images/login-background.jpg);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -2;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash::before {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  height: 100%;
  position: absolute;
  display: block;
  content: "";
  right: 0;
  top: 0;
  left: 0;
  z-index: -1;
}

.splash-list {
  font-size: 16px;
}

.splash-list li::before {
  content: '';
  height: 20px;
  width: 20px;
  display: inline-block;
  background-image: url(https://s3-us-west-1.amazonaws.com/playthismusic/images/check.png);
  background-size: cover;
  margin-right: 10px;
  margin-bottom: 5px;
  position: relative;
  top: 10px;
}

.splash-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 30px;
  align-items: center;
  border-right: 1px solid $light-gray;
  margin: 20px;
  height: 400px;
}

.app-name {
  color: white;
  margin-bottom: 40px;
  font-size: 30px;
}

.button {
  border-radius: 30px;
  width: 275px;
  height: 50px;
  text-align: center;
  line-height: 3;
  text-transform: uppercase;
  font-weight: 500;
  background: $green;
}

.button:hover {
  background-color: $hover-green;
  cursor: pointer;
  box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.8);
}

.button:active {
  background-color: $green;
  cursor: pointer;
  box-shadow: none;
}

.login {
  background: #eeeeee;
  color: black;
}

.login:hover {
  background: white;
}

.login:active {
  background: #eeeeee;
}

.splash-right {
  padding: 20px;
}

.separator {
  display: flex;
  margin: 30px 20px;
}

.separator-line {
  background-color: $light-gray;
  width: 20px;
  height: 1px;
  margin: 7px 10px;
}

.separator-text {
  color: $light-gray;
  text-transform: uppercase;
  font-size: 12px;
}

.splash img {
  height: 50px;
  width: 50px;
  padding-right: 5px;
  position: relative;
  bottom: 7px;
}

.app-logo {
  display: flex;
}
