.user-auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.user-auth h1 {
  margin-bottom: 30px;
}

.user-auth li {
  list-style: none;
}

.session-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to bottom right, rgba(101, 52, 52, 0.95), rgba(46, 46, 46, 0.95));
  width: 400px;
  border-radius: 30px;
  padding: 10px 5px;
  padding-bottom: 40px;
  min-height: 250px;
  height: 45%;
  z-index: 2;
  box-shadow: 1px 1px 10px 0px $shadow-gray;
}

.form-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  color: $error-red;
  font-size: 14px;
}

.session-form input {
  background: white;
  border: 1px solid white;
  border-radius: 3px;
  width: 250px;
  color: black;
  padding: 5px;
  margin: 5px;
  cursor: text;
}

.input {
  display: flex;
  flex-direction: column;
}

.session-form .input:focus {
  border: 1px solid $green;
  box-shadow:inset 0 0 5px 1px $green;
}

.session-form .input:hover {
  border: 1px solid #5d80fb;
  box-shadow:inset 0 0 5px 1px #5d80fb;
}

.session-form .button {
  background: $green;
  height: 30px;
  line-height: 1;
  border-radius: 30px;
  color: white;
  border: 1px solid $green;
  margin-top: 10px;
}

.session-form .button:hover {
  background-color: $hover-green;
  border: 1px solid $hover-green;
  box-shadow: 1px 2px 3px 0 $gray;
}

.session-form .button:active {
  background-color: $green;
  border: 1px solid $green;
}

.demo {
  margin: 5px;
  width: 250px;
  padding: 5px;
}

.exit {
  font-size: 40px;
  z-index: 2;
}

.exit:hover {
  transform: scale(1.05);
}

.exit:active {
  transform: scale(1);
}
