.user-auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.user-auth h1 {
  margin-bottom: 30px;
}

.user-auth li {
  list-style: none;
}

.session-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: $light-gray;
  width: 400px;
  border-radius: 30px;
  padding: 10px 5px;
  min-height: 250px;
  height: 45%;
  z-index: 2;
}

.form-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  color: $error-red;
}

.session-form label {
  margin: 5px;
}

.session-form input {
  background: white;
  border: 1px solid white;
  border-radius: 3px;
  width: 200px;
  color: black;
  padding: 5px;
  margin: 5px;
}

.session-form input:focus {
  border: 1px solid $green;
  box-shadow:inset 0 0 5px 1px $green;
}

.session-form .button {
  background: $green;
  height: 30px;
  line-height: 1;
  border-radius: 30px;
  color: white;
  border: 1px solid $green;
  margin-top: 10px;
}

.session-form .button:hover {
  background-color: $hover-green;
  border: 1px solid $hover-green;
}

.demo {
  margin: 5px;
  width: 200px;
  padding: 5px;
}

.exit {
  font-size: 40px;
  z-index: 2;
}
