.main-background {
  background: linear-gradient(#594640, black);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.main {
  height: 100%;
  width: 100%;
}

.main-stuff {
  padding-left: 220px;
}

.above-playback {
  display: flex;
  height: 95vh;
  overflow: scroll;
}

.nav-bar-container {
  background: rgba(#000000, 0.5);
  height: 100%;
  width: 220px;
  position: fixed;
}

.nav-bar {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 100px;
  box-sizing: border-box;
}

.nav-bar-header {
  padding-bottom: 10px;
  border-bottom: 1px solid $gray;
}

.nav-bar .logo {
  height: 30px;
  width: 30px;
}

.nav-bar .logo:hover {
  cursor: pointer;
}

.nav-bar-user-container {
  display: flex;
  flex-direction: column;
  border-top: 1px solid $gray;
}

.nav-bar-user {
  display: flex;
  align-items: center;
  margin: 5px;
}

.nav-bar-user img {
  border: 1px solid $gray;
  margin-right: 5px;
}

.playback {
  background: $playback-gray;
  height: 80px;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.nav-bar-logout {
  font-size: 14px;
  padding: 3px 5px;
  border-radius: 20px;
  background: $green;
  width: 100px;
  text-align: center;
}
