.main-background {
  background: linear-gradient(#2e44a1, black);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.main {
  height: 100%;
  width: 100%;
}

.main-stuff {
  padding-left: 220px;
}

.above-playback {
  display: flex;
  height: calc(100vh - 90px);
  overflow: scroll;
}

.playback {
  background: $playback-gray;
  height: 90px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

// .loader {
//   position: absolute;
//   top: calc(50% - 100px);
//   left: calc(50% - 50px);
//   background: linear-gradient(to bottom right, rgb(40, 125, 89), rgb(15, 59, 22));
//   padding: 20px;
//   border-radius: 10px;
// }
