
.nav-bar-container {
  background: rgba(#000000, 0.5);
  height: 100%;
  width: 220px;
  position: fixed;
}

.nav-bar {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 100px;
  box-sizing: border-box;
}

.nav-bar-header {
  padding-bottom: 15px;
  border-bottom: 1px solid $gray;
}

.nav-bar .logo {
  height: 30px;
  width: 30px;
}

.nav-bar .logo:hover {
  cursor: pointer;
}

.nav-bar-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 2;
}

.nav-bar-links,
.new-playlist-button {
  color: $light-gray;
  font-size: 15px;
  font-weight: 700;
}

.nav-bar-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $gray;
  padding: 15px 0px;
  transition: .5s;
}

.nav-bar-mag-glass {
  font-size: 20px;
  display: flex;
  align-items: flex-start;
}

.nav-bar-home {
  padding: 15px 0px;
  transition: .5s;
}

.nav-bar-current-user-page {
  padding-bottom: 15px;
  border-bottom: 1px solid $gray;
  transition: .5s;
}

.nav-bar-search:hover,
.nav-bar-mag-glass:hover,
.nav-bar-home:hover,
.nav-bar-current-user-page:hover,
.nav-bar-new-playlist:hover {
  color: white;
  cursor: pointer;
}

.new-playlist-button {
  padding-bottom: 15px;
}

.nav-bar-new-playlist {
  transition: .5s;
}

.nav-bar-user-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid $gray;
}

.nav-bar-user-link {
  overflow: hidden;
}

.nav-bar-user {
  padding-top: 10px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  margin-right: 3px;
  font-size: 13px;
  font-weight: 500;
  overflow: hidden;
}

.nav-bar-user:hover,
.nav-bar-user img:hover {
  cursor: pointer;
}

.nav-bar-user img {
  border: 1px solid $alpha-gray;
  margin-right: 5px;
}

.nav-bar-logout {
 padding: 0px 3px 3px 3px;
 font-size: 20px;
}

.nav-bar-logout:hover {
  background: $hover-green;
  color: $gray;
}

.selected {
  color: $green;
}

.selected1 {
  color: $green;
}
