.playback {
  // position: relative;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
}

.current-song {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
}

.current-playlist-image {
  height: 50px;
  width: 50px;
}

.current-song-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15px;
}

.current-song-title {
  font-size: 16px;
}

.current-song-artist {
  margin-top: 5px;
  font-size: 12px;
  color: $light-gray;
  text-decoration: underline;
}

.playback-controls {
  width: 30%;
  position: absolute;
  left: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.playback-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  color: $light-gray;
}

.playback-previous:hover,
.playback-next:hover,
.playback-playpause:hover {
  color: white;
}

.playback-playpause:hover {
  transform: scale(1.1);
}

.playback-previous:active,
.playback-next:active,
.playback-playpause:active {
  color: $light-gray;
}

.playback-playpause:active {
  transform: scale(1);
}

.playback-previous,
.playback-next {
  font-size: 24px;
}

.playback-playpause {
  font-size: 36px;
}

.hidden {
  display: none;
}

.playback-buttons div {
  margin: 10px;
}

.playback-volume {
  position: absolute;
  right: 25px;
  bottom: 40px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.player {
  display: none;
}

.playback-progress {
  width: 100%;
  padding: 2px;
  display: flex;
  justify-content: space-between;
}

.time {
  display: inline-block;
  text-align: center;
  padding: 0 5px;
  max-width: 35px;
  min-width: 35px;
  font-size: 12px;
  color: $light-gray;
  box-sizing: content-box;
}

.progressbar {
  width: 100%;
}

.progressbar:hover {
  color: $green;
}

.volume-button {
  margin: 2px;
  margin-right: 10px;
  color: $light-gray;
}

.volume-button:hover {
  color: white;
  cursor: pointer;
}

.volumeslider {
  width: 100px;
}

.volume {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  outline: none;
  background: $gray;
}

.volumeslider {
  border-color: $green;
}
