.playlist-index-container {
  padding-left: 220px;
  padding-bottom: 100px;
  height: 100vh;
}

.playlist-title{
  text-align: center;
  padding-top: 10px;
}

.playlist-index {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}

.pii-sizing {
  width: 20%;
  margin: 10px;
}

.playlist-index-item {
  margin-right: 20px;
  height: 150px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playlist-index-item-image {
  box-shadow: 0 0 2px 0px rgba(38, 38, 38, 0.85);
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20%, 0;
}
