.playlist-show-container {
  width: 100%;
  display: flex;
  margin-top: 20px;
  // margin-left: 25px;
}

.playlist-show-title {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-left: 35px;
  margin-top: 20px;
  position: absolute;
}

.playlist-title {
  margin-top: 20px;
  font-size: 26px;
  font-weight: 700;
}

.playlist-author {
  margin-top: 5px;
  color: $light-gray;
  font-size: 14px;
}

.playlist-song-count {
  margin-top: 15px;
  color: $light-gray;
  font-size: 12px;
}

.playlist-play {
  margin-top: 20px;
  padding: 12px 50px;
  background: $green;
  border-radius: 30px;
  font-size: 12px;
  position: relative;
}

.playlist-options-overlay-open {
  position: absolute;
  top: 10px;
  background: white;
}

.playlist-options-modal {
}

.playlist-play:hover {
  background: $hover-green;
  cursor: pointer;
}

.playlist-options {
  font-size: 40px;
  margin-top: 10px;
}

.playlist-options:hover {
  cursor: pointer;

}

.playlist-show-image {
  box-shadow: 0 0 2px 0px rgba(38, 38, 38, 0.85);
  position: relative;
  width: 100%;
  padding-top: 100%;
}

.playlist-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 20%, 0;
}
